@import (css) url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:300&display=swap);

@prefix     : kam-;
@bg-colour  : #0a0a0a;
@text-colour: #dedede;

body {
  background-color: @bg-colour;
  color           : @text-colour;
  font-family     : 'Noto Sans JP', Arial, Helvetica, sans-serif;
  font-size       : 16px;
  margin          : 0;
}

.@{prefix} {
  &app {
    height: 100vh;
  }

  &body {
    height: 100%;
  }
}

@intro: ~'.@{prefix}intro';

@{intro} {
  display           : grid;
  height            : 100%;
  width             : 100%;
  justify-content   : center;
  text-align        : center;
  grid-template-rows: 230px 1fr;
  font-size         : 1.4em;

  &-text {
    display           : grid;
    grid-gap          : 10px;
    margin-top        : 70px;
    grid-template-rows: repeat(auto-fill, 30px);
    user-select       : none;

    &-content {
      transition: opacity 2s ease-out;
    }

    &.extra {
      margin-top: 10px;
    }
  }

  &-button {
    margin-top     : 10px;
    display        : flex;
    justify-content: space-evenly;
    height         : 30px;
    transition     : opacity 0.5s ease-in-out;

    &-btn {
      color           : @text-colour;
      width           : 100px;
      background-color: transparent;
      border-radius   : 2px;
      border          : 1px solid rgb(83, 235, 103);
      cursor          : pointer;
      transition      : all 0.3s ease-in-out;

      &:hover {
        background-color: rgb(83, 235, 103);
      }

      &.yes:hover {
        transform: scale(2);
      }

      &.no {
        border: 1px solid rgb(228, 53, 53);
      }
    }
  }
}

@navbar: ~'.@{prefix}navbar';

@{navbar} {
  position             : absolute;
  top                  : 0;
  left                 : 0;
  width                : 100%;
  height               : 50px;
  align-items          : center;
  justify-content      : center;
  font-size            : 1.4em;
  text-align           : center;
  display              : grid;
  grid-template-rows   : 1fr max-content;
  grid-template-columns: 1fr;

  &-line {
    width     : 100%;
    height    : 2px;
    opacity   : 0.5;
    animation : rainbow 20s infinite alternate-reverse;
    transition: all 20s linear;
  }
}

@keyframes rainbow {
  0% {
    background-color: rgb(0, 0, 255);
    box-shadow      : 0 0 5px 1px rgb(0, 0, 255);
  }

  20% {
    background-color: rgb(0, 255, 255);
    box-shadow      : 0 0 10px 1px rgb(0, 255, 255);
  }

  40% {
    background-color: rgb(0, 255, 0);
    box-shadow      : 0 0 5px 1px rgb(0, 255, 0);
  }

  60% {
    background-color: rgb(255, 255, 0);
    box-shadow      : 0 0 10px 1px rgb(255, 255, 0);
  }

  80% {
    background-color: rgb(255, 0, 255);
    box-shadow      : 0 0 5px 1px rgb(255, 0, 255);
  }

  100% {
    background-color: rgb(255, 0, 0);
    box-shadow      : 0 0 10px 1px rgb(255, 0, 0);
  }
}